.container {
    display: grid;
    grid-template-columns: repeat(
    auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    padding: 20px;
    text-align: center
};

.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

.container2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-end: 4;
    border: 1px solid black;
    border-radius: 10px;
}

.btn{
    margin: 5px;
    padding: 10px;
    font-weight: 600;
    background-color: rgba(11, 255, 44, 0.516);
    border: 0.5px solid black;
    border-radius: 0.2rem;
}

.btn:hover{
    transform: scale(1.05);
}